@charset "utf-8";

body {
    background-color: #0C2231;
    font-size: larger;
    color: #ffffff;
}



input{
    border-radius: 10px;
    font-size: 100%;
}

fieldset{
    text-align: justify;
    width: 30%;
    margin: 5%, 50%;
    
    
}

fieldset#field-form {
    padding-top: 8px;
    margin-top: 30px;
}

footer {
	background-color: #1d314e;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
}

footer a {
    color: #ffffff;

}

.termos {
    text-decoration: none;
}

.politica{
    
    text-decoration: none;
}

.sobre-nos{
    text-decoration: none;
}

